<div class="container">
  <!-- Card deck -->
  <div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://static.orpi.com/images/immo-facile/default/office6/orpi_73679/catalog/images/pr_p/6/1/3/1/1/3/4/6131134b--202010071020.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Appartement à vendre</h4>
        <!--Text-->
        <p class="card-text">Dans un immeuble pierre, bel appartement composé d'une entrée, bureau,
          deux chambres, séjour, cuisine aménagée et équipée, salle d'eau, salle de bain.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light btn-rounded" [routerLink]="['/public/demeure-detail']" routerLinkActive="router-link-active">Read more</button>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://i.pinimg.com/originals/c2/d9/40/c2d940e52816157f99ec9b8cb29f8e53.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Maison à vendre</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light btn-rounded">Read more</button>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.archiliste.fr/sites/default/files/styles/rectangle_500_x_300/public/projets/jy-arrivetz-architecte/maison-aix-les-bains-savoie/maison-design-par-a2-sb-architectes-aix-les-bains.jpg?itok=G-j2PhHM"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light btn-rounded">Read more</button>

      </div>

    </div>
    <!-- Card -->

  </div>
  <!-- Card deck -->
  <!-- Card deck -->
  <div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.vivons-maison.com/sites/default/files/styles/740px/public/field/image/villa-moderne-familiale-architecture.jpg?itok=fKiqIeLA"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light btn-rounded">Read more</button>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.babeau-seguin.fr/wp-content/uploads/2014/10/harmonie-avec-toiture-4-pans.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light btn-rounded">Read more</button>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://www.deco-daix.fr/wp-content/uploads/2019/05/VillaPiscine-mai19-00.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light btn-rounded">Read more</button>

      </div>

    </div>
    <!-- Card -->

  </div>
  <!-- Card deck -->
</div>

<!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>





